body {
  font-family: 'Press Start 2P', cursive;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
}

.game {
  margin: 50px auto;
  padding: 20px;
  background-color: #101820;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
  max-width: 400px;
  border: 3px, solid #ffcc00;
  position: relative;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

input {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #ffcc00;
  border: none;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  color: #000000;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  color: #000;
  background-color: #00ff00;
  border: none;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #ff5733;
  color: #ffffff;
}

button:active {
  background-color: #ffcc00;
}

p {
  margin: 10px 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.message {
  color: #00ffff;
  animation: blink 1s infinite;
}
